header
{
 background-color: yellow;
 font-family: cursive;
 margin: 50px;
 padding: 50px;
}


.intro
{
 background-color: cyan;
 margin: 50px;
 padding: 50px;
}

.introtwo
{
 margin: 50px;
 padding: 50px;
}

#About {
 background-color: orange;
 margin: 50px;
 padding: 50px;
}






